<section id="contact">
    <div class="container mb-5">
        <h2><strong >{{'contact.title'|translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row"  data-aos="fade-up"
        data-aos-anchor-placement="top-center">
            <div class="col-md-3 col-lg-3">
                <div class="contact-info">
                    <img src="../../../assets/Images/contact-image.png" alt="image" />
        
                    <h4>{{'contact.intro'|translate}}</h4>
                </div>
            </div>
            <div class="col-md-9">
                <form class="contact-form" [formGroup]="agregarContacto" (ngSubmit)="agregar(content)">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="identite">{{'contact.name'|translate}}</label>
                        <div class="col-sm-10">
                            <input formControlName="name" type="text" class="form-control" id="name" [placeholder]="'contact.pname'|translate"
                                name="fname">
                            <div *ngIf="agregarContacto.get('name')?.dirty && agregarContacto.get('name')?.invalid" class="fieldInvalid" >
                                *El nombre es requerido
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">{{'contact.email'|translate}}</label>
                        <div class="col-sm-10">
                            <input formControlName="email" type="email" class="form-control" id="email" [placeholder]="'contact.pmail'|translate" name="email">
                            <div *ngIf="agregarContacto.get('email')?.dirty && agregarContacto.get('email')?.errors" class="fieldInvalid" >
                                <p *ngIf="agregarContacto.get('email')?.hasError('required')">*El Email es requerido</p>
                                <p *ngIf="agregarContacto.get('email')?.hasError('pattern')">*El Email no es valido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-sm-2" for="object">{{'contact.subject'|translate}}</label>
                        <div class="col-sm-10">
                            <input formControlName="subject" type="text" class="form-control" id="subject" [placeholder]="'contact.psubject'|translate"
                                name="object">

                                <div *ngIf="agregarContacto.get('name')?.dirty && agregarContacto.get('name')?.invalid" class="fieldInvalid" >
                                    *El Asunto es requerido
                                </div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">{{'contact.message'|translate}}</label>
                        <div class="col-sm-10">
                            <textarea formControlName="comment" class="form-control" rows="5" id="comment"></textarea>
                            <div *ngIf="agregarContacto.get('name')?.dirty && agregarContacto.get('name')?.invalid" class="fieldInvalid" >
                                *El nombre es requerido
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 mt-5">
                            <button type="submit" [disabled]=agregarContacto.invalid [@changeButton]="btnState" class="btn" id="btnSend">
                                <i [@rotateArrow]="btnState"><mat-icon>send</mat-icon></i>
                                <span class="text">{{'contact.send'|translate}}</span>
                                <span [@loading]="btnState" class="loading-animate"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>



<!-- Ventana Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" style="color: black;" id="modal-basic-title">Mensaje</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>{{MessageModal}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" style="background-color: #149ddd;" (click)="c('Save click')">Cerrar</button>
    </div>
  </ng-template>