body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #1478a7;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background:#149ddd;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

section{
    padding-top: 100px; 
}

h3,h4{
    color: white;
}

.btn{
    background: #49075C;
    border: 0px solid #490750;
    border-radius: 35px; 
    font-size: 1rem;
    font-weight: bold; color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer; 
    outline: none;
    transition: all .25s ease;
    width: 210px ;
    position: relative;
    height: 68px; 
    overflow: hidden;
}

.btn i{
    font-size: 1.45rem;
    position: absolute;
    left: 4px;
    pointer-events: none;
    z-index: 10;
    background: inherit;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .25s ease;
}

.btn .text{
    width: 130px;
    display: block;
    position: relative;
    pointer-events: none;
    transition: all .25s ease;
    position: absolute;
    left: 30px;
}

.btn:not(.loading):hover{
    box-shadow: 0px 10px 25px 0px rgba(73,215,92,0.4);
}
.btn:not(.loading):hover i{
    transform: translate(7px);
}
.loading-animate{
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 100;
    border-radius: 50px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 1;
    margin: 4px;
    /* transition: all .25s ease; */
}

.loading-animate:before{
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: loading infinite .8s linear;
    opacity: .6;
}
.loading-animate:after{
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: loading infinite .8s ease .05s;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.btn.loading{
    width: 60px;
}
.btn.loading i{
    transform: rotate(-90deg);
    padding-bottom: 4px;
    padding-left: 3px;
}
.btn.loading .text{
    transform: translate(-140px);
}
.btn.loading .loading-animate{
    opacity: 1;
}

.fieldInvalid{
    color: red;
    font-weight: bold;
    margin: 3px;
}