<section id="about">
    <div class="container">
        <h2><strong>{{'about.title'|translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="../../../assets/Images/iam.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://linkedin.com/in/cesar-rodrigo-nieto-lopez-8a1a27228" rel="tooltip" target="_blank"  title="linkedin de César Nieto">
                        <ic-icon [icon]="Linkedin" size="30"></ic-icon>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/cesardev1" rel="tooltip" target="_blank" title="GitHub de Cesar Nieto" >
                        <ic-icon [icon]="Github" size="100"></ic-icon></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'about.secondTitle'|translate}} </h3>
                <p class="font-italic">
                    {{'about.Interest'|translate}}
                    <!-- <br>Apasionado por la programación <b>Móvil</b> y <b>Web</b>. -->
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <ic-icon [icon]="Build"></ic-icon><strong> {{'about.location'|translate}} </strong>
                            </li>
                            <li>
                                <ic-icon [icon]="Email"></ic-icon><strong><a href="mailto:cesar_rnl@hotmail.com">
                                        cesar_rnl@hotmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <ic-icon [icon]="Birthday"></ic-icon><strong> {{'about.age'|translate}} </strong>
                            </li>
                            <li>
                                <ic-icon [icon]="Badge"></ic-icon><strong> {{'about.degree'|translate}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    {{'about.search'|translate}}
                </p>
                <div >
                    <a href="assets/Documents/CV-Español_2022.pdf" target="_blank" dowload="CV-Español_2022.pdf">
                        <button class="btn btn-outline-primary ms-3" >
                            <img src="assets/Icon/descargar.png" class="btn-icon"/> Descarga CV (Español)
                        </button>
                    </a>
                    <a href="assets/Documents/CV-English_2022.pdf"  dowload="CV-English_2022.pdf">
                        <button class="btn btn-outline-primary ms-3" >
                            <img src="assets/Icon/descargar.png" class="btn-icon"/> Download CV (English)
                        </button>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>