<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand marca" [routerLink]="'.home'"><ic-icon [icon]="Home" size="30"></ic-icon> CesarDev</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>
        <div [ngbCollapse]="isMenuCollapsed"   class="collapse navbar-collapse " >
            <ul class="navbar-nav" placement="right" >
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true"> 
                        <ic-icon [icon]="User" size=20></ic-icon> ACERCA DE MI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">
                        <ic-icon [icon]="Briefcase" size=20></ic-icon> HABILIDADES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">
                        <ic-icon [icon]="File" size=""></ic-icon> CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">
                        <ic-icon [icon]="Book" size=""></ic-icon> PORTAFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">
                        <ic-icon [icon]="Newspaper" size=""></ic-icon> BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">
                        <ic-icon [icon]="Envelope" size=""></ic-icon> CONTACTAME</a>
                </li>
            </ul>
        </div>
    </nav>
</header>