<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>{{'education.title'|translate}}</strong></h4>

                <ul class="timeline">
                    <li>
                        <h5><strong>{{'education.University.title'|translate}} </strong> </h5>
                        <em class="font-italic">{{'education.University.description'|translate}}</em>
                        <p class="year p-2 d-flex justify-content-center">{{'education.University.period'|translate}}</p>
                    </li>
                    <li>
                        <h5>{{'education.bachelor.title'|translate}}</h5>
                        <em class="font-italic"> {{'education.bachelor.description'|translate}} </em>
                        <p class="year p-2 d-flex justify-content-center">{{'education.bachelor.period'|translate}}</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>{{'experience.title'|translate}}</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>{{'experience.freelance.position'|translate}} </h5>
                        <em>{{'experience.freelance.location'|translate}}</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">{{'experience.freelance.period'|translate}}</p>
                            <button (click)="detailOnClick('freelanceScotfy_detail')" type="button" class="btn btn-primary" disabled>+Detalles</button>
                        </div>
                        <p *ngIf="freelanceScotfyIsShown">

                        </p>
                    </li>
                    <li>
                        <h5>{{'experience.quiron.position'|translate}}</h5>
                        <em>{{'experience.quiron.location'|translate}}</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">{{'experience.quiron.period'|translate}}</p>
                            <button (click)="detailOnClick('freelance_detail')" type="button" class="btn btn-primary">+Detalles</button>
                        </div>
                        <p *ngIf="freelanceIsShown">
                            <strong>{{'experience.quiron.target1.title'|translate}} :</strong>{{'experience.quiron.target1'|translate}}<br>
                            <strong>{{'experience.quiron.target2.title'|translate}} :</strong>{{'experience.quiron.target2'|translate}}<br>
                            <strong>{{'experience.quiron.tech.title'|translate}}</strong> {{'experience.quiron.tech'|translate}}
                        </p>
                    </li>
                    

                </ul>
            </div>

        </div>
    </div>
</section>